.cta-email {
	background: transparent url('../../public/img/bg-cta-email.jpg') center/cover no-repeat;
	border-left: solid 4px #488bbc;
}

.arrow-container {
	display: none;

	@media (min-width: 1024px) {
		display: block;
		min-width: 33%;
	}

	.arrow {
		position: relative;
		width: 100%;
		display: block;
		height: 1px;
		background: white;

		&:before,
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 6px;
			height: 1px;
			right: 0;
			transform-origin: center right;
			transform: rotate(45deg);
			background: white;
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}
